html,
body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
}

/* navigation */
.navigator {
    width: 250px;
    height: 100%;
    float: left;
    padding: 20px;
    background-color: #ffffff;
    border-right: 1px solid #cccccc;
    box-sizing: border-box;
}
/* header */
.nav-header {
    margin-bottom: 20px;
}
.nav-include-private i,
.nav-include-protected i {
    line-height: 20px;
}
.nav-include-private,
.nav-include-protected {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 2px;
    border: 1px solid #cccccc;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}
.nav-include-private[disabled],
.nav-include-protected[disabled] {
    opacity: 0.3;
}
.nav-searchbar {
    height: 20px;
    border: 1px solid #cccccc;
    width: calc(100% - 65px);
    vertical-align: top;
    padding: 0px;
    padding-left: 5px;
    box-sizing: content-box;
}
.highlight {
    background-color: yellow;
    border-radius: 3px;
}

/* items */
.nav-items {
    width: calc(100% + 20px);
    overflow-y: auto;
    height: calc(100% - 80px);
}
.nav-item-name {
    position: relative;
}
.nav-item-name > * {
    vertical-align: middle;
}
.nav-item-arrow {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    left: 0px;
    top: 0px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    cursor: pointer;
    line-height: 0;
}
.nav-item-arrow-inner {
    width: 0;
    height: 0;
    border: 5px solid black;
    border-left-color: transparent;
    border-bottom-color: transparent;

    position: relative;
    top: calc(50% + 2px);
    left: calc(50% - 2px);
    transform: translate(-50%, -50%);
}
.nav-item-data {
    height: 0px;
    overflow: hidden;
    padding-left: 40px;
    word-wrap: break-word;
}
/* Footer */
.nav-footer {
    padding-top: 20px;
}
.nav-version-options {
    position: absolute;
    z-index: 10;
    display: none;
    cursor: pointer;
    background-color: white;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    width: 50px;
    text-align: right;
    padding-right: 5px;
}
.nav-version-option {
    margin-top: 2px;
}
.nav-version-control-value {
    vertical-align: middle;
    text-align: right;
    display: inline-block;
    background-color: #eeeeee;
    box-sizing: border-box;
    height: 20px;
    line-height: 20px;
    padding-right: 5px;
    width: 50px;
    cursor: pointer;
}

/* content */
.contents {
    float: left;
    width: calc(100% - 250px);
    height: 100%;
}
.contents-inner {
    width: 100%;
    max-width: 1000px;
    min-height: calc(100% - 60px);
    margin-top: 30px;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}
