<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/style.css"></link>
    <link rel="stylesheet" type="text/css" href="static/font awesome/css/all.min.css"></link>
    <link rel="stylesheet" type="text/css" href="static/font awesome/css/regular.min.css"></link>
    <script src="static/jQuery.js"></script>
</head>

<body>
    {{> nav navData}} {{> class data}}
</body>

</html>